<div ng-controller="singleAdCtrl">

  <!-- Img jumbotron with ad heading -->
  <div class="jumbotron navbar-gap-fix ad-image {{randomImgClass}} vertical-center">
    <div class="container text-center">
      <div class="row animated bounceInUp">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1>{{annons.annonsrubrik}}</h1>
          <h3><b class="ad-yrkesbenamning">{{annons.yrkesbenamning}}</strong></h3>
        </div>
      </div>
    </div>
  </div> <!-- end of img jumbotron -->

  <!-- Container with ad text. Pushed up with the help of #push-up -->
  <div class="container-fluid">
    <div class="container margin-bottom">
      <div class="row white-subtle-shadow">
        <div class="col-lg-12">
          <h1 class="text-center">Om tjänsten</h1>
          <p class="preserve-newline">{{annons.annonstext}}</p>
          <br>
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of fluid container -->

  <!-- Container with other info about the ad -->
  <div class="container-fluid ad-info">
    <div class="container">

      <!-- Row with info about Ansökan -->
      <div class="row">
        <div class="col col-lg-5 col-sm-5">
          <h1>Ansökan</h1>
          <div class="header-underline"></div>
        </div>
        <div class="col-lg-5 col-sm-5 col-md-offset-2 col-sm-offset-2">
          <br>
          <p>Lediga tjänster <strong>{{annons.antal_platser}}</strong></p>
          <p>Tjänsten finns i <strong>{{annons.kommunnamn}}</strong></p>
          <p>Yrkesbenämning <strong>{{annons.yrkesbenamning}}</strong></p>
          <p>Annonsen publicerades <strong>{{annons.publiceraddatum | amCalendar}}</strong></p>
          <p>Sista ansökningsdag <strong>{{sista_ansokningsdag}}</strong>
          </p>
          <p>Annonsens referens <strong>{{referens}}</strong></p>
          <p>Epost <strong>{{epost}}</strong></p>
          <br>
          <a ng-if="ansokan.webbplats !=''" class="btn btn-primary btn-sm" ng-href="{{annons.platsannonsUrl}}">Arbetsförmedlingen</a>
        </div>
      </div> <!-- end or row -->
      <br>
      <!-- Row with info about Arbetsplats -->
      <div class="row">
        <div class="col col-lg-5 col-sm-5">
          <h1>Arbetsplats</h1>
          <div class="header-underline"></div>
        </div>
        <div class="col-lg-5 col-sm-5 col-md-offset-2 col-lg-offset-2 col-sm-offset-2">
          <br>
          <h4>{{arbetsplats.arbetsplatsnamn}}</h4>
          <p ng-if="arbetsplats.postnummer">Postnummer <strong>{{arbetsplats.postnummer}}</strong></p>
          <p ng-if="arbetsplats.postadress">Postadress <strong>{{arbetsplats.postadress}}</strong></p>
          <p ng-if="arbetsplats.postort">Postort <strong>{{arbetsplats.postort}}</strong></p>
          <p ng-if="arbetsplats.land"><strong>{{arbetsplats.land}}</strong></p>
          <p ng-if="arbetsplats.besoksadress">Besöksadress <strong>{{arbetsplats.besoksadress}}</strong></p>
          <br>
          <div ng-show="arbetsplats.kontaktpersonlista" ng-repeat="kontaktperson in kontaktpersoner">
            <h4>Kontaktperson</h4>
            <p ng-if="kontaktperson.namn">Namn <strong>{{kontaktperson.namn}}</strong></p>
            <p ng-if="kontaktperson.titel">Titel <strong>{{kontaktperson.titel}}</strong></p>

            <span ng-if="kontaktperson.telefonnummer">
              <p ng-if="kontaktperson.telefonnummer != ''">Telefonnummer <strong>{{kontaktperson.telefonnummer}}</strong></p>
            </span>
            <span ng-if="kontaktperson.epostadress">
              <p ng-if="kontaktperson.epostadress != ''">Epost <strong>{{kontaktperson.epostadress}}</strong></p>
              <p ng-if="kontaktperson.epostadress == ''">Epost <strong>Ingen info</strong></p>
            </span>
          </div>
          <a ng-if="arbetsplats.hemsida" class="btn btn-primary btn-sm" ng-href="{{arbetsplats.hemsida}}">Arbetsplatsens hemsida</a>
        </div>
      </div> <!-- end of row -->
      <br>

      <!-- Row with info about Krav -->
      <div class="row">
        <div class="col col-lg-5 col-sm-5">
          <h1>Krav</h1>
          <div class="header-underline"></div>
        </div>
        <div class="col-lg-5 col-sm-5 col-md-offset-2 col-lg-offset-2 col-sm-offset-2">
          <br>
          <p>{{bil}}</p>
          <p ng-repeat="license in driverslicenseList.korkortstyp">
            Krav om {{license}} körkort
          </p>
        </div>
      </div> <!-- end of row -->
      <br>

      <!-- Row with info about Villkor -->
      <div class="row">
        <div class="col col-lg-5 col-sm-5">
          <h1>Villkor</h1>
          <div class="header-underline"></div>
        </div>
        <div class="col-lg-5 col-sm-5 col-md-offset-2 col-lg-offset-2 col-sm-offset-2">
          <br>
          <p ng-if="villkor.varaktighet">Varaktighet <strong>{{villkor.varaktighet}}</strong></p>
          <p ng-if="villkor.arbetstid">Arbetstid <strong>{{villkor.arbetstid}}</strong></p>
          <p ng-if="villkor.arbetstidvaraktighet"><strong>{{villkor.arbetstidvaraktighet}}</strong></p>
          <p ng-if="villkor.lonetyp">Lönetyp <strong>{{villkor.lonetyp}}</strong></p>
          <p ng-if="villkor.loneform">Löneform <strong>{{villkor.loneform}}</strong></p>
        </div>
      </div> <!-- end of row -->

    </div> <!-- end of container -->
  </div> <!-- end of container fluid -->

</div> <!-- end of controller -->
