<h3 class="text-center">Sparade söktermer</h3>
<!-- if no saved search terms are present -->
<div ng-if="searchTerms.length == 0">
  <p class="lead text-center text-info" >
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    Du har inte sparat några söktermer än.
  </p>
  <p class="text-center">Sök efter något av intresse för att kunna spara söktermen. Den kommer då att visas här.</p>
</div>

<!-- if search terms has been saved -->
<ul ng-if="searchTerms.length > 0" class="list-group">
  <a class="list-group-item col-sm-6"
    ng-repeat="searchterm in searchTerms | orderBy:'searchterm'"
    ng-click="select(searchterm.searchterm)"
    href="/sökning">
    <h5>
      <button class="btn btn-default btn-xs pull-right"
            aria-hidden="true"
            ng-click="openModal($event,searchterm)"
            data-toggle="modal"
            data-target="#deleteSearchTerm"><i class="fa fa-times"></i>
      </button>
      {{searchterm.searchterm}}
    </h5>
  </a>
</ul>

<div ng-include="'templates/profile/modals/_searchTerm.html'"></div>
