<h3 class="text-center">Sparade annonser</h3>
<div ng-if="savedAds.length == 0">
  <p class="lead text-center text-info" >
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    Du har inte sparat några annonser än.
  </p>
  <p class="text-center">När du ser en intressant annons kan du trycka på en knapp intill annonsen för att spara den</p>
</div>


<div ng-if="'savedAds.length > 0'">
  <div class="list-group">
    <span ng-repeat="ad in savedAds">

      <!-- display if ad is passed its date -->
      <a ng-if="ad.sista_ansokningsdag > now" href="/annons/{{ad.id}}" class="list-group-item">
        <h5 class="list-group-item-heading">{{ad.rubrik}}</h5>
        <button class="btn btn-default btn-xs pull-right"
              aria-hidden="true"
              ng-click="openModal(ad, $event)"
              data-toggle="modal"
              data-target="#deleteAd"><i class="fa fa-times"></i>
        </button>
        <p class="list-group-item-text">{{ad.yrke}}</p>
        <p class="list-group-item-text">
          <i class="fa fa-map-marker"></i> {{ad.kommun}}
          <i class="fa fa-building-o"></i> {{ad.arbetsplats}}
        </p>
        <p class="list-group-item-text text-danger" ng-if="ad.sista_ansokningsdag < sevenDaysFromNow">
            Annonsen går ut {{ad.sista_ansokningsdag | amCalendar}}
        </p>
        <p ng-if="ad.sista_ansokningsdag > sevenDaysFromNow" class="list-group-item-text">Annonsen går ut {{ad.sista_ansokningsdag | amCalendar}}</p>
      </a>

      <!-- display if ad is passed its date -->
      <div ng-if="ad.sista_ansokningsdag < now" class="list-group-item clearfix">
        <h5 class="text-danger">
          <span class="fa fa-trash-o pull-right"
                aria-hidden="true"
                ng-click="removeAd(ad, $event)"></span>
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          Sista ansökningsdag har tyvärr passerat
        </h5>
        <p class="list-group-item-text text-danger">För annonsen "{{ad.rubrik}}"</p>
        <p class="list-group-item-text text-danger">
          <i class="fa fa-map-marker"></i> {{ad.kommun}}
          <i class="fa fa-building-o"></i> {{ad.arbetsplats}}
        </p>
        <p class="list-group-item-text text-danger">
          Annonsen gick ut {{ad.sista_ansokningsdag | amCalendar}}
        </p>

        <p></p>

      </div>
    </span>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteAd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
          Ta bort annons
        </h4>
      </div>
      <div class="modal-body">
        Vill du ta bort följande annons: <strong>{{adToDelete.rubrik}}</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete()">Ta bort</button>
      </div>
    </div>
  </div>
</div>
