<section ng-controller="profileCtrl" class="jumbotron navbar-gap-fix ad-image-sm code1 vertical-center">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <h1>Hej {{user.first_name}}!</h1>
        <p class="text-nowrap">

         <ng-pluralize count="savedAds.length"
                 when="{'0': '0 sparade annonser',
                     'one': '1 sparad annons',
                     'other': '{} sparade annonser'}">
        </ng-pluralize>
        och
        <ng-pluralize count="savedSearchTerms.length"
                when="{'0': '0 söktermer',
                    'one': '1 sökterm',
                    'other': '{} söktermer'}">
       </ng-pluralize>

        </p>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">

  <!-- Container with saved ads and saved search results-->
  <div class="container white-subtle-shadow margin-bottom">
    <div
    ng-controller="savedAdsCtrl"
    ng-include="'templates/profile/_savedAds.html'"
    class="col-sm-6">
    </div>

    <div
    ng-controller="savedSearchTermsCtrl"
    ng-include="'templates/profile/_savedSearchTerms.html'"
    class="col-sm-6">
    </div>
  </div>

</div>
