<!-- Info text -->
<div class="text-center">
  <a class="pull-right" du-smooth-scroll="step1" duration="1000"><i class="fa fa-arrow-circle-o-up fa-2x" aria-hidden="true"></i></a>
  <h1>Kommuner</h1>
  <p class="text-muted lead"><i class="fa fa-map-marker"></i> {{currentCounty}}</p>
  <p class="text-muted">Klicka på en kommun för att se alla annonser i kommunen</p>
</div>

<!-- Filter -->
<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1 text-center">
    <div class="input-group">
      <div class="input-group-addon"><span class="fa fa-filter"></span></div>
      <input type="text" ng-model="searchText.$" class="form-control" placeholder="Filtrera för att snabbt hitta rätt kommun">
    </div>
  </div>
</div>
<br>

<!-- Row with results -->
<div class="row">
  <div ng-repeat="municipality in municipalities | filter:searchText" class="col-sm-6 col-md-4">
    <div class="thumbnail" ng-if="municipality.namn != 'Ospecificerad arbetsort'" ng-controller="municipalityChildCtrl">
      <a ng-click="selectMunicipality(municipality.namn, municipality.id)" du-smooth-scroll="step3" duration="1700">
        <img ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{municipality.namn}}+{{currentCounty}}&size=640x400&zoom=9&key=AIzaSyCpk8vXluY8ZMOTZaf5vX_cS14IZ3J3NdE" alt="Karta">
      </a>
      <div class="caption">
        <h3>{{municipality.namn}}</h3>
        <p>
          <a ng-if="adsInMunicipality != '1'" du-smooth-scroll="step3" duration="1700" ng-click="selectMunicipality(municipality.namn, municipality.id)" class="btn btn-info btn-sm" role="button">Annonser <span class="badge">{{adsInMunicipality}}</span></a>
          <a ng-if="adsInMunicipality == '1'" du-smooth-scroll="step3" duration="1700" ng-click="selectMunicipality(municipality.namn, municipality.id)" class="btn btn-info btn-sm" role="button">Annons <span class="badge">{{adsInMunicipality}}</span></a>
        </p>
      </div>
    </div> <!-- end of thumbnail -->
  </div> <!-- end of ng-repet col -->
</div> <!-- end of row -->
