<div class="container-fluid container-gray" ng-controller="countiesCtrl">
  <!-- Container -->
  <div id="step1" class="container white-subtle-shadow margin-bottom">
    <div ng-include="'templates/location/_cardsCounties.html'"></div>
  </div> <!-- end of container and controller -->

  <div id="step2" ng-show="step2" class="container white-subtle-shadow margin-bottom animated slideInRight">
    <div ng-include="'templates/location/_cardsCounty.html'"></div>
  </div>

  <div id="step3" ng-show="step3" class="container white-subtle-shadow margin-bottom animated slideInLeft">
    <div ng-include="'templates/location/_tableMunicipality.html'"></div>
  </div>
</div> <!-- end of fluid container -->
