<div class="container" ng-controller="municipalityAdsCtrl">
  <h1 class="text-center">Lediga jobb i {{currentLocation}}</h1>
  <p><b ng-if="howManyAds == '0'">Inga</b><b ng-if="howManyAds != '0'">{{howManyAds}}</b> annonser i {{currentLocation}}</p>

  <div class="row row-special">
    <div ng-repeat="ad in ads" class="">
      <div ng-if="ad.relevans == '100'" class="list-group menu-category">
        <a ng-href="#/annonsid/{{ad.annonsid}}" class="list-group-item">
          <h4 class="list-group-item-heading">{{ad.annonsrubrik}}</h4>
          <p class="list-group-item-text text-muted">{{ad.arbetsplatsnamn}}</p>
          <p class="list-group-item-text text-muted"><span ng-if="ad.antalPlatserVisa != '0'"><i class="fa fa-user"></i> {{ad.antalPlatserVisa}}</span><span ng-if="ad.antalPlatserVisa == '0'">ingen info</span></p>
          <p class="list-group-item-text text-muted"><i class="fa fa-clock-o"></i> {{ad.publiceraddatum | amCalendar}}</p>


        </a>
      </div>
    </div>

  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <caption><b ng-if="howManyAds == '1'">{{howManyAds}}</b><b ng-if="howManyAds != '1'">{{howManyAds}}</b> annonser i {{currentLocation}}</caption>
    <thead>
      <tr>
        <th>Annons</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ad in ads">
          <td ng-if="ad.relevans == '100'"><a ng-href="#/annonsid/{{ad.annonsid}}">{{ad.annonsrubrik}}</a><br>
            <span class="text-muted">
              <i class="fa fa-clock-o"></i> {{ad.publiceraddatum | amCalendar}}
              <span ng-if="ad.antalPlatserVisa != '0'"> <i class="fa fa-user"></i> {{ad.antalPlatserVisa}}</span>
              <span ng-if="ad.antalPlatserVisa == '0'">ingen info</span><br>
              <i class="fa fa-building-o"></i> {{ad.arbetsplatsnamn}}
            </span>
          </td>
      </tr>
    </tbody>
    </table>
  </div>


</div> <!-- end of container and controller -->
