<div class="container-fluid">
  <div class="container white-subtle-shadow" ng-controller="municipalitiesCtrl">
    <ol class="breadcrumb">
      <li><a ng-href="#/lan">Län</a></li>
      <li class="active">{{currentCounty}}</li>
    </ol>
    <h1>Kommuner i {{currentCounty}}</h1>
    <p>Klicka på en kommun för att se alla annonser i kommunen</p>

    <div class="row">
      <div ng-repeat="municipality in municipalities" class="col-sm-6 col-md-4">
        <div class="thumbnail" ng-if="municipality.namn != 'Ospecificerad arbetsort'" ng-controller="municipalityChildCtrl">
          <a ng-href="#/kommun/{{municipality.id}}/ads" ng-click="setLocation(municipality.namn, municipality.id)">
            <img ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{municipality.namn}}+{{currentCounty}}&size=640x400&zoom=9&key=AIzaSyCpk8vXluY8ZMOTZaf5vX_cS14IZ3J3NdE" alt="Karta">
          </a>
          <div class="caption">
            <h3>{{municipality.namn}}</h3>
            <p>
              <a ng-if="adsInMunicipality != '1'" ng-href="#/kommun/{{municipality.id}}/ads" ng-click="setLocation(municipality.namn, municipality.id)" class="btn btn-info btn-sm" role="button">{{adsInMunicipality}} annonser</a>
              <a ng-if="adsInMunicipality == '1'" ng-href="#/kommun/{{municipality.id}}/ads" ng-click="setLocation(municipality.namn, municipality.id)" class="btn btn-info btn-sm" role="button">{{adsInMunicipality}} annons</a>

            </p>
          </div>
        </div>
      </div>
    </div> <!-- end of row -->


  </div> <!-- end of container and controller -->
</div>
