*, *:before, *:after {box-sizing:  border-box !important;}

body {
  background-color: #F1F1F1;
  margin-top: 70px;
}

td a {
  text-decoration: none !important;
  width:100%;
  display:block;
}

/* make bold text stand out a bit more */
b {
  font-size: 1.05em;
}

canvas {
  margin: 0;
  padding: 0;
  width: 99% !important;
}

h1, h2, h3, p{
     word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}


.jumbotron {
  margin-bottom: 20px;
}
/*reset navbar border radius*/
.navbar {
  border-radius: 0px;
  box-shadow: 0 0 1px #3f3f3f;*/
}

/*fix for navbar gap*/
.navbar-gap-fix {
  margin-top: -21px;
}

/*Ad image class*/
.ad-image {
  height: 85vh;
  color: white;
  display: flex;
  align-items: center;
}

.full-viewhight {
  height: 100vh;
}

.ad-image div {
  /*margin-top: 60px;*/
}

/*
* Style for diffrent code classes. Used at random with the help of angular code
*/
.code1 {
  background: url('../img/randomAds/code1.jpg') no-repeat center center;
  background-size: cover;
	background-repeat:  no-repeat;
	background-position: center center;
}
.code2 {
  background: url('../img/randomAds/code2.jpg') no-repeat center center;
  background-size: cover;
  background-repeat:  no-repeat;
  background-position: center center;
}
.code3 {
  background: url('../img/randomAds/code3.jpg') no-repeat center center;
  background-size: cover;
  background-repeat:  no-repeat;
  background-position: center center;
}
.code4 {
  background: url('../img/randomAds/code4.jpg') no-repeat center center;
  background-size: cover;
  background-repeat:  no-repeat;
  background-position: center center;
}
.code5 {
  background: url('../img/randomAds/code5.jpg') no-repeat center center;
  background-size: cover;
  background-repeat:  no-repeat;
  background-position: center center;
}

/*styling for info block on single ad page*/
.ad-info {
  background: rgba(25,188,156,1);
  background: -moz-linear-gradient(left, rgba(25,188,156,1) 0%, rgba(36,196,198,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,188,156,1)), color-stop(100%, rgba(36,196,198,1)));
  background: -webkit-linear-gradient(left, rgba(25,188,156,1) 0%, rgba(36,196,198,1) 100%);
  background: -o-linear-gradient(left, rgba(25,188,156,1) 0%, rgba(36,196,198,1) 100%);
  background: -ms-linear-gradient(left, rgba(25,188,156,1) 0%, rgba(36,196,198,1) 100%);
  background: linear-gradient(to right, rgba(25,188,156,1) 0%, rgba(36,196,198,1) 100%);
  color: white;
}

/* push a container up */
#push-up {
  margin-top: -100px;
}

/* Give ad-info box and ad-image shadowing */
.ad-info, .ad-image {
  box-shadow: 2px 0 2px 0 #3f3f3f;

}

/* helper class to better format annonstext since they often contain newlines and such */
.preserve-newline {
    white-space: pre-wrap;
    line-height: 1.9em;
}


/* Helper class for containers / rows that need white background and a suble shadow */
.white-subtle-shadow {
  background-color: #FFFFFF;
  box-shadow: 0 0 1px #D3D3D3;
}

/* helper class to make a container light gray */
.container-gray {
  background-color: #F1F1F1;
}

/* helper class to push a container fluid up, used on single ad page */
.container-fluid-fix {
  margin-top: -29px;
  z-index: -1;
}


/* helper class to add custom margin top and bottom to containers */
.margin-top-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Helper class used with pushing down tables a bit*/
.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}
/* give breadcrumbs some margin */
.breadcrumb {
  margin-top: 15px;
}

/* class to give headers a little underline */
.header-underline {
  width: 50px;
  border-top: 3px solid white;
  display: inline-block;
  position: relative;
  bottom: 4px;
}

.ad-yrkesbenamning {
  letter-spacing: 0.1em;
}

#loading-bar .bar {
background: #F1F1F1;
height: 2px;
}

.tc-chart-js-legend {
  list-style-type: none;
  padding-left: 0px;
}
.tc-chart-js-legend li {
  display: block;
  float: left;
  clear:both;
  padding:10px;
}
.tc-chart-js-legend li span {
  width:25px;
  height:25px;
  display:block;
  float:left;
  margin-right:10px;
}


/* Styling for typed.js */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: rgba(25,188,156,1);
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Styling for typed.js container on index-page */
.bold-text {
  font-weight: 700;
  letter-spacing: 0.1em;
}

.green-icon {
  color: rgba(25,188,156,1);
}
.gray-icon {
  color: gray;
}
.white-icon {
  color: white;
}

/* Styling for arrow on front page */
.fa-arrow-circle-o-down {
  margin-top: 100px;
}

.padding-bottom {
  padding-bottom: 20px;
}

/* Styling for index blocks */
.popout-block {
  min-height: 400px;
}

.block-title {
  font-size: 5rem;
  margin-bottom: 20px;
}
.block-text {
  font-size: 1.2em;
  line-height: 2em;
}
.white {
  background-color: white;
  color: black;
}

.gray {
  background-color: gray;
  color: white;
}

.green {
  background-color: rgba(25,188,156,1);
  color: white;
}

.blue {
  background-color: #09A9BF;
  color: white;
}



.push-down {
  margin-top: 30px;
}

.index-button {
  margin-bottom: 15px;
}

}
}
