*, *:before, *:after {box-sizing:  border-box !important;}



/*reset navbar border radius*/
.navbar {
  border-radius: 0px;
}

.row-special {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em;

}

.menu-category {
 display: inline-block;
 margin:  0.25rem;
 padding:  1rem;
 width:  100%;
}

td a {
  text-decoration: none !important;
}

.preserve-newline {
    white-space: pre-wrap;
}
