<div class="container-fluid" ng-controller="professionDetailsCtrl">
  <div class="container white-subtle-shadow">
    <ol class="breadcrumb">
      <li><a ng-href="#/yrkesgrupper">Yrkesgrupper</a></li>
      <li><a ng-href="#/yrkesgrupper/{{workgroupBreadcrumb}}">{{currentWorkgroup}}</a></li>
      <li class="active">{{currentProfession}}</li>
    </ol>
    <div class="row">
      <div class="col-md-4">
        <h2>{{adsNrExact}}</h2>
        <p>Inom <b>{{currentProfession}}</b></p>
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">Filtrera annonserna</div>
          <div class="panel-body">
            <label>Efter nyckelord: <input ng-model="searchText" class="form-control"></label>
          </div>
        </div> <!-- end of panel -->

      </div> <!-- end of col -->

    <div class="col-md-8">
      <table class="table margin-top table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Annons</th>
          </tr>
        </thead>
        <tbody>
          <!-- infinite scroll -->
          <div infinite-scroll='loadMore()' infinite-scroll-distance='5'>
            <tr ng-repeat="ad in data | filter: searchText as filterLength" ng-if="ad.relevans == '100'">
              <td><a ng-href="#/annons/{{ad.annonsid}}">{{ad.annonsrubrik}}</a><br>
                <span class="text-muted">
                  <i class="fa fa-clock-o"></i> {{ad.publiceraddatum | amCalendar}}
                  <span ng-if="ad.antalplatser != '0'"> <i class="fa fa-user"></i> {{ad.antalplatser}}</span>
                  <span ng-if="ad.antalplatser == '0'">ingen info</span><br>
                  <i class="fa fa-map-marker"> {{ad.kommunnamn}}</i>
                  <i class="fa fa-building-o"></i> {{ad.arbetsplatsnamn}}
                </span>
              </td>
            </tr>
          </div> <!-- end of infinite scroll -->

        </tbody>
      </table>
    </div> <!-- end of col -->

    </div> <!-- end of row -->

  </div>
  <div class="container white-subtle-shadow margin-top-bottom">
    <div class="row">

      <div class="col-md-4">
        <h2>{{adsNrSimilar}}</h2>
        <p>till <b>{{currentProfession}}</b></p>
      </div> <!-- end of col -->

      <div class="col-md-8">
        <table class="table margin-top margin-top table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>Annons</th>
            </tr>
          </thead>
          <tbody>
            <!-- infinite scroll -->
            <div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
              <tr ng-repeat="ad in data">
                <td ng-if="ad.relevans < '100'"><a ng-href="#/annons/{{ad.annonsid}}">{{ad.annonsrubrik}}</a><br>
                  <span class="text-muted">
                    <i class="fa fa-clock-o"></i> {{ad.publiceraddatum | amCalendar}}
                    <span ng-if="ad.antalPlatserVisa != '0'"> <i class="fa fa-user"></i> {{ad.antalPlatserVisa}}</span>
                    <span ng-if="ad.antalPlatserVisa == '0'">ingen info</span><br>
                    <i class="fa fa-map-marker"> {{ad.kommunnamn}}</i>
                    <i class="fa fa-building-o"></i> {{ad.arbetsplatsnamn}} <br>
                    <i class="fa fa-briefcase"></i> {{ad.yrkesbenamning}}
                  </span>
                </td>
              </tr>
            </div>
          </tbody>
        </table>
      </div> <!-- end of col -->

    </div> <!-- end of row -->
  </div>


  </div> <!-- end of controller and container -->
</div>
