<div class="container" ng-controller="workGroupIDCtrl">
  <h1>Yrken inom {{currentWorkgroup}}</h1>
  <table class="table table-striped table-hover table-bordered">
    <caption>{{data.data.body.soklista.totalt_antal_ledigajobb}} lediga jobb inom {{currentWorkgroup}}</caption>
  <thead>
    <tr>
      <th>Yrke</th>
      <th>Antal annonser</th>
      <th>Lediga jobb</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="yrke in workgroup">
      <td><a ng-href="#/profession/{{yrke.id}}" ng-click="setProfession(yrke.namn)">{{yrke.namn}}</a></td>
      <td>{{yrke.antal_platsannonser}} st</td>
      <td>{{yrke.antal_ledigajobb}} st</td>
    </tr>
  </tbody>
</table>
</div>
