/*reset navbar border radius*/
.navbar {
  border-radius: 0px;
}

/*fix for navbar gap*/
.navbar-gap-fix {
  margin-top: -21px;
}

// "remove" border-color of toggled navbar hamburger icon
.navbar-inverse .navbar-toggle {
    border-color: $primary-color;
}
