// Color variables
$primary-color: #19bc9c;
$gradiant-color: rgba(36,196,198,1);


$brand-default: #95A5A6;
$brand-primary: #2C3E50;
$brand-success: $primary-color;
$brand-info: #3498DB;
$brand-warning: #F39C12;
$brand-danger: #E74C3C;
