<div class="container" ng-controller="workGroupIDCtrl">
  <h2>Yrken inom grupp</h2>
  <table class="table table-striped table-hover table-bordered">
    <caption>{{data.data.body.soklista.totalt_antal_ledigajobb}} lediga jobb inom yrket</caption>
  <thead>
    <tr>
      <th>Yrke</th>
      <th>Antal annonser</th>
      <th>Lediga jobb</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="yrke in workgroup">
      <td><a ng-href="#/profession/{{yrke.id}}">{{yrke.namn}}</a></td>
      <td>{{yrke.antal_platsannonser}} st</td>
      <td>{{yrke.antal_ledigajobb}} st</td>
      <td>{{yrke.id}}</td>
    </tr>
  </tbody>
</table>
</div>
