<div class="container" ng-controller="workGroupsCtrl">
  <h1>Yrkesgrupper inom IT</h1>
  <table class="table table-striped table-hover table-bordered">
    <caption>{{result.data.body.soklista.totalt_antal_ledigajobb}} lediga jobb inom yrkesgrupperna</caption>
  <thead>
    <tr>
      <th>Yrkesgrupp</th>
      <th>Antal annonser</th>
      <th>Lediga jobb</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="workgroup in workgroups">
        <td><a ng-href="#/workgroups/{{workgroup.id}}">{{workgroup.namn}}</a></td>
        <td>{{workgroup.antal_platsannonser}} st</td>
        <td>{{workgroup.antal_ledigajobb}} st</td>

    </tr>
  </tbody>
</table>
</div>
