<div class="container-fluid">
  <div class="container white-subtle-shadow margin-bottom" ng-controller="singleWorkgroupStatsCtrl">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li><a ng-href="#/statistik">Statistik</a></li>
      <li class="active">{{currentWorkgroup}}</li>
    </ol>

    <!-- Info text -->
    <h1 class="text-center">{{currentWorkgroup}}</h1>

    <!-- Row with results -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
        <canvas class="img-responsive" chart="" chart-legend="" tc-chartjs-bar chart-options="options" chart-data="data" auto-legend></canvas>
      </div>
      <!-- Info about numbers in the charts -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h4>Nummerförklaring</h4>
        <p class="text-muted">Klicka på ett yrke för att se alla annonser inom yrket.</p>
        <ol>
          <li ng-repeat="workgroup in workgroupLabels"><a ng-href="#/statistik/yrke/{{links[$index]}}" ng-click="setProfession(workgroup, links[$index])">{{workgroup}}</a></li>
        </ol>
      </div>
    </div> <!-- end of row -->

  </div> <!-- end of container and controller -->
</div>
