<div class="container-fluid" ng-controller="workgroupsStatsCtrl">
  <!-- Container with controller -->
  <div class="container-fluid white-subtle-shadow margin-bottom">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li class="active">Statistik</li>
    </ol>

    <!-- Info text -->
    <h1 class="text-center">Statistik över yrkesgrupper</h1>
    <!-- Row with charts -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
        <canvas chart="" chart-legend="" tc-chartjs-bar chart-options="options" chart-data="data" auto-legend></canvas>
      </div>
      <!-- Info about numbers in chart -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h4>Nummerförklaring</h4>
        <p class="text-muted">Klicka på en yrkesgrupp för att se en överblick över yrken i gruppen.</p>
        <ol>
          <li ng-repeat="workgroup in workgroupLabels">
            <h5>
              <a ng-href=" /statistik/yrkesgrupp/{{links[$index]}}" ng-click="setWorkgroup(workgroup, links[$index])">
                {{workgroup}}
                <p class="text-muted">
                  {{dataAds[$index]}} annonser och {{dataJobs[$index]}} jobb
                </p>
              </a>
            </h5>
          </li>
        </ol>
      </div>
    </div> <!-- end of row -->
  </div> <!-- end of container and controller -->

</div>
