<div class="container-fluid" ng-controller="searchResultsCtrl">



  <!-- Container with Pagination, Filter and Search results -->
  <div class="container white-subtle-shadow margin-top-bottom">
    <!-- Info text -->
    <div class="row text-center">
        <h1>{{ads75.length}} Sökresultat</h1>
        <p class="text-muted lead"><span class="fa fa-search"></span> {{searchTerm}}</p>
        <dir-pagination-controls max-size="6" on-page-change="changePagination(newPageNumber, oldPageNumber)"></dir-pagination-controls>
    </div>
    <!-- Filter -->
    <div class="row">
      <div ng-show="ads75.length > 25" class="col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1 text-center">
        <p class="text-muted"><i class="fa fa-info-circle"></i> Psst! Precisera din sökning eller filtrera annonserna för ett bättre sökresultat</p>
        <div class="input-group">
          <div class="input-group-addon"><span class="fa fa-filter"></span></div>
          <input type="text" ng-model="searchText.$" class="form-control" placeholder="Filtrera annonserna fritt efter nyckelord ">
        </div>
      </div> <!-- end of col -->
    </div> <!-- end of row -->

    <br>
    <!-- Search Results -->
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1">
        <!-- Responsive table -->
        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Annons</th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="ad in ads75 | filter:searchText | itemsPerPage: 15" current-page="paginationPage">
                <td>
                  <a ng-href=" /annons/{{ad.annonsid}}">{{ad.annonsrubrik}}<br>
                    <span class="text-muted">
                      <i class="fa fa-clock-o"></i> {{ad.publiceraddatum | amCalendar}}
                      <span ng-if="ad.antalplatser != '0'"> <i class="fa fa-user"></i> {{ad.antalplatser}}</span>
                      <span ng-if="ad.antalplatser == '0'">ingen info</span><br>
                      <i class="fa fa-map-marker"> </i> {{ad.kommunnamn}}
                      <i class="fa fa-building-o"></i> {{ad.arbetsplatsnamn}} <br>
                      <i class="fa fa-briefcase"></i> {{ad.yrkesbenamning}}
                    </span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div> <!-- end of responsive table -->
      </div> <!-- end of column -->
    </div> <!-- end of row -->
  </div> <!-- end of container white-subtle-shadow  -->

  <!-- Pagination -->
  <div class="container white-subtle-shadow margin-top-bottom text-center">
    <dir-pagination-controls max-size="6" on-page-change="changePagination(newPageNumber, oldPageNumber)"></dir-pagination-controls>
  </div>

</div> <!-- end of controller -->
