<div class="container-fluid">
  <div class="container white-subtle-shadow margin-bottom">
    <h1 class="text-center">Om <strong>IT Jobben</strong></h1>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 padding-bottom">
        <p class="p-line-heigth">
          <br>
          <strong>Hej!</strong> Mitt namn är <a href="https://github.com/danielv14" target="_blank">Daniel</a> och ligger bakom denna webbplats som jag valt att kalla för IT Jobben.
        </p>
        <p class="p-line-heigth">
          Idén till hemsidan uppstod under vintern 2016 då jag läste en <a href="http://dbwebb.se/webapp/" target="_blank">kurs</a> i webb appar som ingick i ett kurspaket hos <a href="http://edu.bth.se/utbildning/utb_kurspaket.asp?PaketAnmkod=KP641&PaketStarttermin=20161&lang=sv" target="_blank">Blekinges Tekniska Högskola</a>.
          Slutprojektet i denna kurs gick ut på att använda någon myndighets öppna data som var med och bidrog i <a href="http://hackforsweden.se" target="_blank">Hack for Sweden</a> och jag valde att använda <a href="http://www.arbetsformedlingen.se/Globalmeny/Om-webbplatsen/Oppna-data.html" target="_blank">Arbetsförmedlingen</a> som datakälla i mitt projekt.
          Efter att kursen var slut kände jag dock att jag hade mer inom mig. Javascript ramverket <a href="http://mithril.js.org" target="_blank">Mithril</a>, som jag hade använt till slutprojektet, kändes inte längre tillräckligt utan jag ville fördjupa mig i ett större ramverk och hittade tillslut hem med <a href="https://angularjs.org" target="_blank">AngularJS</a>.
          <br>
          Detta resulterade alltså i IT Jobben, en webbplats för att hitta just lediga IT-jobb som finns hos Arbetsförmedlingen.
        </p>
        <a href="https://github.com/danielv14" target="_blank" class="btn btn-margin btn-success"><i class="fa fa-github"></i> IT Jobben finns på Github!</a>
      </div>
      </div>
    </div>

</div>
