<div class="container-fluid" ng-controller="aboutCtrl">
  <div class="container white-subtle-shadow margin-bottom">
    <h1 class="text-center">Om <strong>IT Jobben</strong></h1>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 padding-bottom">
        <p class="p-line-heigth">
          <br>
          <strong>Hej!</strong> Mitt namn är <a href="https://github.com/danielv14" target="_blank">Daniel</a> och ligger bakom denna webbplats som jag valt att kalla för IT Jobben.
        </p>
        <p class="p-line-heigth">
          Idén till hemsidan uppstod under vintern 2016 då jag läste en <a href="http://dbwebb.se/webapp/" target="_blank">kurs</a> om webbaserade applikationer som ingick i ett kurspaket hos <a href="http://edu.bth.se/utbildning/utb_kurspaket.asp?PaketAnmkod=KP641&PaketStarttermin=20161&lang=sv" target="_blank">Blekinges Tekniska Högskola</a>.
          Slutprojektet i denna kurs gick ut på att använda öppen data från någon myndighet eller organisation som var med och bidrog i tävlingen <a href="http://hackforsweden.se" target="_blank">Hack for Sweden</a>. Jag valde att använda <a href="http://www.arbetsformedlingen.se/Globalmeny/Om-webbplatsen/Oppna-data.html" target="_blank">Arbetsförmedlingen</a> som datakälla i mitt projekt.
          Efter att kursen var slut kände jag dock att jag hade mer inom mig. Jag ville bygga något större och mer omfattande men med samma fokus.
        </p>
        <p>
          Detta resulterade alltså i IT Jobben, en webbplats för att hitta just lediga IT-jobb som finns hos Arbetsförmedlingen.
        </p>
        <a ng-href="{{previousURL}}" class="btn btn-margin btn-default"><i class="fa fa-arrow-left"></i> Tillbaka</a>
        <a href="https://github.com/danielv14/IT-Jobben" target="_blank" class="btn btn-margin btn-info"><i class="fa fa-github"></i> IT Jobben finns på Github!</a>

      </div>
      </div>
    </div>

</div>
