<footer class="container-fluid white-subtle-shadow" ng-controller="footerCtrl">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <p class="text-muted">Copyright © IT Jobben {{date | date: 'yyyy'}}</p>
      </div>
      <div class="col-xs-6 text-right text-muted">
        <span class="footer-links">
          <a ui-sref="workgroups">Yrkesgrupper</a>  |  <a ui-sref="counties">Län och kommuner</a>  |  <a ui-sref="statistics">Statistik</a>  |  <a ui-sref="about">Om</a>
        </span>
      </div>
    </div>
  </div>
</footer>
