<div ng-controller="indexCtrl">
  <!-- full width jumbotron -->
  <section class="jumbotron navbar-gap-fix ad-image code3 vertical-center">
    <div class="container text-center">
      <div class="row">
        <div class="col col-md-12 col-lg-12 col-sm-12 col-xs-12 typed-container animated bounceInUp">
          <h1>Hitta ditt nästa jobb</h1>
          <h2><span class="typed"></span></h2>
        </div>

      </div>
    </div>
  </section>

  <!-- container fluid -->
  <div class="container-fluid">
    <div class="container white-subtle-shadow">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="text-center">På jakt efter nytt IT-Jobb?</h2>
          <p class="lead text-center">
            Nytt jobb på hemmaplan? Prova vingarna någon annanstans? IT Jobben hjälper dig i din jakt!
          </p>

          <div class="row homepage-3-wrapper">
            <div class="col-sm-4 text-center">
              <a ng-href="/yrken">
                <i class="fa fa-briefcase text-success icon-lg" aria-hidden="true"></i>
              </a>
              <p class="p-line-heigth">
                Är du en programmerare, drifttekniker eller kanske en backend-utvecklare som letar nytt jobb?
                Hitta ledia jobb inom just ditt <a href="/yrken">område</a>!
              </p>

            </div>
            <div class="col-sm-4 text-center">
              <a href="plats">
                <i class="fa fa-map-marker text-success icon-lg" aria-hidden="true"></i>
              </a>
              <p class="p-line-heigth">
                Oavsett vart du bor i landet kan du hitta jobb med hjälp av IT Jobben. Detta gör du enkelt genom att lista alla tillgängliga jobb inom <a href="/plats">kommuner</a>.
              </p>

            </div>
            <div class="col-sm-4 text-center">
              <a href="statistik">
                <i class="fa fa-bar-chart text-success icon-lg" aria-hidden="true"></i>

              </a>
              <p class="p-line-heigth">
                Inom vilken yrkesgrupp finns egentligen de ledia jobben?
                <br>
                Få bättre koll på hur IT-arbetsmarknaden ser ut i Sverige med hjälp av IT Jobbens <a href="/statistik">visuella hjälpmedel</a>.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container white-subtle-shadow margin-top-bottom">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="text-center">IT Jobben <i class="fa green fa-heart"></i> Arbetsförmedlingen</h2>
          <div class="col-md-10 col-md-offset-1">
            <p class="p-line-heigth">Denna webbplats är möjliggjord tack vare Arbetsförmedlingens initiativ om <a href="http://www.arbetsformedlingen.se/Globalmeny/Om-webbplatsen/Oppna-data.html" target="_blank">öppen data</a>.
              All information på denna webbplats såsom statistik, information om jobb och annonser är resultat av Arbetsförmedlingens öppna <a href="https://api.arbetsformedlingen.se" target="_blank">API</a>.</p>
          </div>

        </div>
      </div>
    </div>
  </div>


</div> <!-- end of controller -->
