<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="searchBarCtrl">
 <div class="container-fluid">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable" aria-expanded="false">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand brand-font" ng-href=" /">IT Jobben</a>
   </div>
   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="collapsable">
     <ul class="nav navbar-nav">
       <li ng-class="{ active: isActive('/yrke') }"><a ng-href=' /yrkesgrupper'>Yrken</a></li>
       <li ng-class="{ active: isActive('/plat') }"><a ng-href=' /plats/lan'>Län och kommuner</a></li>
       <li ng-class="{ active: isActive('/stat') }"><a ng-href=' /statistik'>Statistik</a></li>
     </ul>
     <form class="navbar-form navbar-right" ng-submit="doSearch()" role="search">
        <div class="form-group">
          <input type="text" ng-model="navbarSearchTerm" class="form-control" placeholder="Sök efter..." id="searchBar">
        </div>
        <a type="submit" ng-click="doSearch()" ng-href=" /sökning" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
      </form>
   </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
</nav>
