<!-- Container with controller -->
<div class="container white-subtle-shadow margin-bottom" ng-controller="workgroupsStatsCtrl">

  <!-- Breadcrumbs -->
  <ol class="breadcrumb">
    <li class="active">Statistik</li>
  </ol>

  <!-- Info text -->
  <h1 class="text-center">Statistik över yrkesgrupper</h1>
  <!-- Row with charts -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
      <canvas class="img-responsive" tc-chartjs-bar chart-options="options" chart-data="data" auto-legend></canvas>
    </div>
    <!-- Info about numbers in chart -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h4>Nummerförklaring</h4>
      <ol>
        <li ng-repeat="workgroup in workgroupLabels"><a ng-href="#/statistik/yrkesgrupp/{{links[$index]}}" ng-click="setWorkgroup(workgroup, links[$index])">{{workgroup}}</a></li>
      </ol>
    </div>
  </div> <!-- end of row -->
</div> <!-- end of container and controller -->
